* {
     box-sizing: border-box;
}

body {
     background-color: #FAFAFA;
} 

a, div, nav, footer, head , section, main, img {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     vertical-align: baseline;
}

@media only screen and (max-width: 500px) {
     
     .scroll-products-1 {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 6em;
     }
     
     nav.scrollmenu-1 {
          overflow: auto;
          white-space: nowrap;
          font-family: 'Mulish', sans-serif;
     }

     nav.scrollmenu-1 a {
          display: inline-block;
          color: #BABABA;
          text-align: center;
          padding: 10px 4px 0px 5px;
          margin-left: 5px;
          text-decoration: none;
     }

     nav.scrollmenu-1 a:hover {
          color: orange;
     }

     div.product-description-1 {
          position: absolute;
          left: 1.5em;
          bottom: 1em;
          font-family: sans-serif;
          color: white;
     }
     
     span.price-1 {
          position: absolute;
          right: 1em;
          bottom: 1em;
          color: #ffffff;
          font-family: sans-serif;
          font-weight: 100;
          font-size: 1.75em;
     }

     footer {
          position: fixed;
          width: 100%;
          bottom: 0;
          left: 0;
          height: 5em;
          background-color: #ffffff;
          display: flex;
          overflow-x: auto;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
     }
     
     .nav-link-1 {
          padding-left: 2em;
          display: flex;
          flex-grow: 1;
          min-width: 50px;
          overflow: hidden;
          white-space: nowrap;
          align-items: center;
          -webkit-tap-highlight-color: transparent;
          transition: background-color 0.1s ease-in-out;
          color: #BABABA;
          text-decoration: none;
     }
     
     .nav-link-1:hover {
          background-color: #ffffff;
     }
     
     .nav-link-1:active {
          color: orange;
     }
     
     
     
     img.nav-icons-1 {
          transform: scale(0.10);
     }
     
     
     div.product-showcase-1 {
          margin-top: 20px;
          background-size: 100% 100%;
          position: relative;
          border-radius: 25px;
          height: 30%;
          width: 85%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 0.2px rgb(0, 0, 0, 0.2);
     }
     
     main h5 {
          font-family: sans-serif;
          color: #BABABA;
     }
     
     div.product-showcase-1 img {
          width: 90%;
          height: auto;
          padding-bottom: 3em;
     }
     
     header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 10px;
          padding-right: 10px;
     }
     
     .top-bar-1 {
          display: flex;
          overflow: hidden;
          white-space: nowrap;
          justify-content: center;
          align-items: center;
          -webkit-tap-highlight-color: transparent;
          transition: background-color 0.1s ease-in-out;
          color: #BABABA;
          text-decoration: none;
          font-family: 'Rajdhani', sans-serif;
          letter-spacing: -2px;
          font-size: 2em;
          color: black;
          margin-top: 0;
          margin-bottom: 0;
     }
     
     .md-24 { font-size: 32px; }
     
     h3.top-bar-1 {
          padding-top: 5px;
     }
} 

/* Second page */

.color-title-1 {
     color: #ffffff;
}

main.product-zoomed-1 {
     display: flex;
     flex-direction: column;
     width: 100%;
     font-family: 'Mulish', sans-serif;
     color: #ffffff;
}

div.top-container-product-1 {
     display: flex;
     justify-content: space-between;
     padding: 2em 2em 0 2em;
}

.top-container-product-1 span {
     font-size: 11vw;
} 

div.heart-container-1 {
     display: flex;
     justify-items: center;
     align-items: center;
     padding: 1em;
     border-radius: 15px;
     background-color: #E56D2A;
}

main.product-zoomed-1 img {
     height: auto;
     width: 100%;
     padding: 3em 0 0 5em;
}

div.product-price-1 {
     display: flex;
     width: 100%;
     height: auto;
     justify-content: space-between;
     padding: 2em;
     margin-bottom: 1em;
}

div.version-1 {
     display: flex;
     flex-direction: column;
}

div.price-1 {
     display: flex;
     flex-direction: column;
}

.category-1 {
     font-size: 4vw;
}

.response-category-1 {
     font-size: 7vw;
}

.response-category-1 i {
     position: relative;
     top: 25%;
}

.response-category-1.price-tag-1 {
     position: relative;
     top: 12%;
}

.description-container-1 {
     position: relative;
     display: flex;
     flex-direction: column;
     background-color: #ffffff;
     width: 100%;
     height: auto;
     padding: 1em 3em 7em 3em;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     box-shadow: 0px 0px 0.2px rgb(0, 0, 0, 0.2);
     color: black;

     overflow: visible;
}

.features-1 {
     display: flex;
     justify-content: space-between;
     align-content: center;
}

.mini-title-1 {
     font-size: 6vw;
}

.mini-detail-1 {
     font-size: 4vw;
     color: #424242;
}

h4 {
     margin-bottom: 2vh;
}

.buy-bttn-1 {
     display: flex;
     justify-content: center;
     align-content: center;
     position: absolute;
     height: auto;
     width: 30%;
     border-radius: 20px;
     font-family: sans-serif;
     color: #ffffff;
     background-color: #E56D2A;

     right: 10%;
     top: -7%;
}

@media only screen and (min-width: 500px) {

     .hide-on-desktop {
          display: none;
     }
     
     div.grid-window-1 {
          display: flex;
          justify-content: center;
          padding-top: 1em;
     }
     
     main.scroll-products-1 {
          display: grid;
          grid-template-rows: 25vh 25vh 25vh;
          grid-template-columns: 25vw 25vw 25vw;
          justify-self: center;
     }

     div.product-showcase-1 {
          background-size: 100% 100%;
          position: relative;
          border-radius: 25px;
          height: 85%;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 0px 0.2px rgb(0, 0, 0, 0.2);
     }

     nav.scrollmenu-1 {
          display: flex;
          justify-content: center;
          background-color: #E4B080;
          overflow: auto;
          white-space: nowrap;
          font-family: 'Mulish', sans-serif;
     }

     nav.scrollmenu-1 a {
          display: inline-block;
          color: #ffffff;
          text-align: center;
          box-shadow: 0px 0px 0.2px rgb(0, 0, 0, 0.2);
          padding: 15px 4px 15px 5px;
          margin-left: 5px;
          text-decoration: none;
     }

     nav.scrollmenu-1 a:hover {
          color: #983700;
     }

     div.product-showcase-1 img {
          width: 80%;
          height: auto;
          padding-bottom: 3em;
     }

     div.product-description-1 {
          position: absolute;
          left: 1.5em;
          bottom: 1em;
          font-family: sans-serif;
          color: white;
          font-size: 0.85em;
     }
     
     span.price-1 {
          position: absolute;
          right: 1em;
          bottom: 1em;
          color: #ffffff;
          font-family: sans-serif;
          font-weight: 100;
          font-size: 1.25em;
     }
     
     h5, hr, .nav-1, .hide-window-1 {
          display: none;
     }

     header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 10px;
          padding-right: 10px;
     }

     .top-bar-1 {
          display: grid;
          grid-template-columns: 33% 33% 33%;
          overflow: hidden;
          white-space: nowrap;
          justify-content: center;
          align-items: center;
          -webkit-tap-highlight-color: transparent;
          transition: background-color 0.1s ease-in-out;
          color: #BABABA;
          text-decoration: none;
          font-family: 'Rajdhani', sans-serif;
          letter-spacing: -2px;
          font-size: 2em;
          color: black;
          margin-top: 0;
          margin-bottom: 0;
     }

     .form-search-1 {
          display: flex;
          align-items: center;
          padding: 10px;
          font-size: 17px;
          border: 1px solid grey;
          border-radius: 40px;
          width: 20%;
          background-color: #EFEFEF;
          height: 35px;
     }
     
     .container-search-1 {
          font-size: inherit;
          width: 90%;
          padding-left: 0.2em;
          text-align: left;
          border: none;
          background-color: #EFEFEF;
     }

     .container-search-1::placeholder {
          color: #888484;
     }

     .search-button-1 {
          border: none;
          background-color: #EFEFEF;
          padding-top: 4px;
     }
} 