* {
     box-sizing: border-box;
}

body {
     background-color: #FAFAFA;
} 

a, div, nav, footer, head {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     vertical-align: baseline;
}

header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

footer {
     position: absolute;
     width: 100%;
     bottom: 0;
     left: 0;
}

div.footer-container {
     background-color: aqua;
     height: 5em;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
     background-color: #ffffff;
     justify-content: space-between;
     padding-top: 5vh;
}

.footer-container a {
     padding-left: 10vh;
}

nav.scrollmenu {
     overflow: auto;
     white-space: nowrap;
}

nav.scrollmenu a {
     display: inline-block;
     color: #BABABA;
     text-align: center;
     padding: 14px;
     text-decoration: none;
}

nav.scrollmenu a:hover {
     color: orange;
}