* {
     box-sizing: border-box;
}

a, ul, li, div, nav {
     margin: 0;
     padding: 0;
     border: 0;
     font: inherit;
     vertical-align: baseline;
}

header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

a {
     color: #111;
     cursor: pointer;
     text-decoration: none;

}

ul {
     list-style: none;
     display: block;
     padding-inline-start: 10px;
} 

.nav-flx {
     display: block;
     position: relative;
     width: 500px;
     float: none;
     left: 0;
     right: 0;
     overflow-x: scroll;
     overflow-y: hidden;
     white-space: nowrap;
     -webkit-overflow-scrolling: touch;
}

.menu-item {
     background: transparent;
     float: left;
     padding: 5px;
}